<?xml version="1.0" encoding="UTF-8"?>
<server description="${project.name}">
	<featureManager>
		<feature>microProfile-3.2</feature>
		<feature>jpa-2.2</feature>
	</featureManager>
	<httpEndpoint id="defaultHttpEndpoint" httpPort="9080"
		httpsPort="9443" />
	<webApplication location="${project.name}.war"
		contextRoot="/" />
	<mpMetrics authentication="false" />
	<keyStore id="defaultKeyStore" location="public.jks"
		type="JKS" password="atbash" />
	<mpJwt id="jwtUserConsumer" keyName="theKeyId"
		audiences="targetService" issuer="${jwt.issuer}" />
	<dataSource id="DefaultDataSource" jndiName="jdbc/derby">
		<jdbcDriver libraryRef="DerbyLib" />
		<properties.derby.embedded
			databaseName="C:/databases/SAMPLEDB" createDatabase="create" />
	</dataSource>
	<library id="DerbyLib">
		<fileset dir="C:/db-derby-10.14.2.0-bin/lib" />
	</library>
</server>
